<!-- manager_nav.html -->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" style="margin-top:20px;">
      <a href="#">
      	<img src="img/payday-logo.png" width="90px">
      </a>
    </li>
    <li>
      <a href="#/manager/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="#/manager/employees">Employees</a>
    </li>
    <li>
      <a href="#/manager/transactions">Transactions</a>
    </li>
    <li>
      <a href="#/manager/settings">Settings</a>
    </li>
    <li>
      <div ng-controller="AuthController"><a ng-click="logout()">Logout</a></div>
    </li>
  </ul>
</div>

<!-- /manager_nav.html -->