<div id="wrapper">

	<div ng-include src="'partials/manager_partials/manager_nav.html'"></div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">

					<h1>
						Settings 
						<span style="font-size:18px; font-style: italic; color: #1ab9fa;"> {{ businessName }}</span>
					</h1>

					<form ng-submit="setBusinessName()">
						<input type="text" placeholder="Your Business Name" ng-model="businessName" /><br>
						<button type="submit">Submit</button>
					</form>

				</div>
			</div>
		</div>
	</div>

</div>